.category {
  @apply w-full flex justify-between;

  .category__title {
    @apply font-bold;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
  }

  .category__icon {
    @apply self-center;
    width: 15px;
    height: 15px;
  }
}
