.carDetails {
  @apply md:container grid md:pt-6;
  grid-template-areas:
    "slider"
    "upperPart"
    "detailsList";

  @screen md {
    grid-template-areas:
      "upperPart upperPart"
      "slider phoneNumber"
      "detailsList .";
  }

  .carImageSlider {
    @apply relative;
    width: 100%;
    height: 285px;
    grid-area: slider;

    @screen md {
      height: 371px;
    }

    .slidesNumber {
      @apply absolute bg-gray-420 text-white font-medium p-1.5 flex flex-col items-center justify-center;
      bottom: 10px;
      left: 10px;
      font-size: 12px;
      line-height: 10px;
      border-radius: 10px;
      z-index: 1;

      @screen md {
        left: inherit;
        right: 10px;
      }
    }

    .iconsContainer {
      @apply flex absolute;
      bottom: -11px;
      right: 0;
      z-index: 1;

      @screen md {
        bottom: inherit;
        top: 10px;
      }

      .iconHolder {
        @apply bg-white flex justify-center cursor-pointer;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-right: 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px;

        .icon {
          width: 12px;
        }

        @screen md {
          width: 100px;
          height: inherit;
          border-radius: 8px;

          .icon {
            @apply mr-2;
          }
        }
      }
    }
  }

  .carDetails__upperPart {
    grid-area: upperPart;
    @apply flex flex-col px-4 md:px-0;
    margin-top: 30px;

    .price {
      @apply font-bold md:font-medium text-red-450 mt-4;
      font-size: 16px;
      line-height: 24px;

      @screen md {
        font-size: 28px;
      }
    }

    .carName {
      @apply font-bold md:font-medium uppercase md:self-end;
      font-size: 18px;
      line-height: 29px;

      @screen md {
        @apply mr-4;
        font-size: 29px;
      }
    }

    .postTime {
      @apply font-light mt-2 text-black-230 border-b border-gray-180 pb-6 md:border-b-0;
      font-size: 11px;
      line-height: 16px;
    }
  }

  .carDetails__detailsList {
    grid-area: detailsList;
    margin-top: 20px;

    .detailTitle {
      @apply font-semibold;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    .firstDetails {
      @apply w-full flex md:flex-col md:items-center px-4 pb-3 border-b border-gray-180 mt-2 md:border-b-0 md:pb-1.5 md:p-1.5 md:mr-2;

      @screen md {
        width: 100px;
        height: 100px;
      }

      .firstDetails__title {
        @apply w-2/5 md:w-auto font-medium;
        font-size: 14px;
        line-height: 21px;
      }

      .firstDetails__Icon {
        @apply hidden md:block md:mt-auto;
        width: 24px;
      }

      .firstDetails__content {
        @apply w-3/5 md:w-auto font-light md:mt-auto;
        font-size: 14px;
        line-height: 21px;
      }
    }

    .secondDetails {
      @apply w-full flex px-4 pb-3 border-b border-gray-180 mt-2 md:border md:mt-0 md:py-3;

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      .secondDetails__title {
        @apply w-2/5 font-medium;
        font-size: 14px;
        line-height: 21px;
      }

      .secondDetails__content {
        @apply w-3/5 font-light;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .carDetails__phoneNumber {
    @apply hidden md:flex flex-col p-4;
    grid-area: phoneNumber;
    margin-left: 30px;
    width: 273px;
    height: 150px;

    .carDetails__title {
      @apply font-medium;
      font-size: 9px;
      line-height: 10px;
    }

    .carDetails__company {
      @apply font-medium mt-6;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .callFooter {
    @apply fixed w-full bottom-0 text-center bg-white md:hidden;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    padding: 15px 20px;
  }

  button {
    outline: none;
  }
}
