.filtertIcon {
  @apply mr-1;
  width: 13px;
}

.sortText {
  @apply font-medium md:font-semibold text-black-210;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.content {
  @apply absolute inset-0 bg-white overflow-auto outline-none;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
}

.overlay {
  @apply fixed inset-0;
  z-index: 200;
}
