.dealerCardContainer {
  @apply flex mt-4 overflow-x-auto px-2 mr-1;
  height: 85px;
  padding-top: 5px;
  .dealerCard {
    @apply flex flex-col justify-center items-center mr-3;
    min-width: 146px;
    height: 72px;
    .dealerIcon {
      width: 70%;
      height: 70%;
    }
  }
}
