.category {
  @apply w-full flex justify-between border-b border-gray-250 py-4 md:flex-col md:items-center md:border-0 md:mr-5 md:mt-5 md:px-1;

  @screen md {
    width: 170px;
    height: 70px;
  }

  .category__titleNumber {
    @apply md:flex md:flex-col md:items-center;
    .category__title {
      @apply pl-4 font-normal md:pl-0 md:text-gray-365 md:uppercase;
      font-style: normal;
      font-size: 11px;
      line-height: 18px;
    }

    .category__number {
      @apply font-normal md:text-gray-370;
      font-style: normal;
      font-size: 11px;
      line-height: 18px;

      @screen md {
        margin-top: 6px;
      }

      &::before {
        content: "(";

        @screen md {
          content: "";
        }
      }

      &::after {
        content: ")";

        @screen md {
          content: "";
        }
      }
    }
  }

  .category__icon {
    @apply self-center mr-4 md:hidden;
    width: 15px;
    height: 15px;
  }
}
