.loginContainer {
  @apply container flex flex-col items-center;
  height: 90vh;

  @screen md {
    height: inherit;
  }

  .loginTitle {
    @apply text-center font-medium mt-20;
    font-size: 28px;
    line-height: 42px;
  }

  .loginButton {
    @apply bg-white border border-gray-370 flex items-center px-6 py-3 font-medium outline-none;
    max-width: 347px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;

    @screen xs {
      width: 347px;
    }

    .loginIcon {
      @apply mr-8;
      width: 25px;
      height: 25px;
    }
  }

  .loginInput {
    @apply bg-white border border-black-130 font-light text-gray-360 p-3 hover:border-black-210 focus:border-black-210 outline-none;
    max-width: 347px;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
    line-height: 27px;

    @screen xs {
      width: 347px;
    }
  }

  .show {
    @apply absolute font-bold text-red-450;
    font-size: 12px;
    line-height: 18px;
    right: 10px;
    top: 35%;
  }

  .loginRedButton {
    @apply p-3 mt-10  outline-none;
    max-width: 347px;
    width: 100%;

    @screen xs {
      width: 347px;
    }
  }

  .redText {
    @apply font-medium text-red-450 mt-10;
    font-size: 16px;
    line-height: 24px;
  }

  .footerText {
    @apply font-light border-gray-430 text-center mt-auto mb-5;
    font-size: 12px;
    line-height: 18px;
  }
}
