@import "swiper/swiper.scss";
@import "swiper/components/pagination/pagination.scss";
@import "swiper/components/navigation/navigation.scss";
@import "./components";
@import "./utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100% !important;
}

.swiper-pagination-bullet {
  @apply bg-white;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  @apply hidden md:flex;

  @screen md {
    @apply hover:bg-white text-black-210;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.82);
    transition: all 0.2s;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px;
}
